<config>
    <modules>
        <Inchoo_Giftregistry>
            <version>0.1.0</version>
        </Inchoo_Giftregistry>
    </modules>
    <global>
        <models>
            <inchoo_giftregistry>
                <class>Inchoo_Giftregistry_Model</class>
                <resourceModel>inchoo_giftregistry_mysql4</resourceModel>
            </inchoo_giftregistry>
            <inchoo_giftregistry_mysql4>
                <class>Inchoo_Giftregistry_Model_Mysql4</class>
                <entities>
                    <entity>
                        <table>inchoo_giftregistry_entity</table>
                    </entity>
                    <type>
                        <table>inchoo_giftregistry_type</table>
                    </type>
                    <item>
                        <table>inchoo_giftregistry_item</table>
                    </item>
                </entities>
            </inchoo_giftregistry_mysql4>
        </models>
        <helpers>
           <inchoo_giftregistry>
                <class>Inchoo_Giftregistry_Helper</class>
            </inchoo_giftregistry>
        </helpers>
        <blocks>
            <inchoo_giftregistry>
                <class>Inchoo_Giftregistry_Block</class>
            </inchoo_giftregistry>
        </blocks>
        <resources>
            <inchoo_giftregistry_setup>
                <setup>
                    <module>Inchoo_Giftregistry</module>
                    <class>Inchoo_Giftregistry_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </inchoo_giftregistry_setup>
            <inchoo_giftregistry_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </inchoo_giftregistry_write>
            <inchoo_giftregistry_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </inchoo_giftregistry_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <inchoo_giftregistry>
                <use>standard</use>
                <args>
                    <module>Inchoo_Giftregistry</module>
                    <frontName>giftregistry</frontName>
                </args>
            </inchoo_giftregistry>
        </routers>
    </frontend>
</config>