<?xml version="1.0"?>
<config>
    <modules>
        <First_Module>
            <version>0.2</version>
        </First_Module>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view>First_Module_Block_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <sales>
                <rewrite>
                    <data>First_Module_Helper_Data</data>
                </rewrite>
            </sales>
            <customer>
                <rewrite>
                    <address>First_Module_Helper_Address</address>
                </rewrite>
            </customer>
        </helpers>
        <models>
            <catalog>
                <rewrite>
                    <product>First_Module_Model_Product</product>
                </rewrite>
            </catalog>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <product>First_Module_Model_Product_Resource_Model</product>
                </rewrite>
            </catalog_resource_eav_mysql4>
        </models>
    </global>
</config>