<?xml version="1.0"?>
<config>
    <modules>
        <Foo_Bar>
            <version>0.2</version>
        </Foo_Bar>
    </modules>
    <frontend><!-- or any other area (adminhtml etc.) -->
        <routers>
            <foo_bar>
                <use>standard</use> <!-- or admin -->
                <args>
                    <module>Foo_Bar</module>
                    <frontName>foo</frontName>
                </args>
            </foo_bar>
            <catalog>
                <args>
                    <modules>
                        <foo_bar before="Mage_Catalog">Foo_Bar_Catalog</foo_bar>
                    </modules>
                </args>
            </catalog>
        </routers>
    </frontend>
    
    <global>
        <models>
            <foo_bar>
                <class>Foo_Bar_Model</class>
            </foo_bar>
        </models>
    </global>
   
</config>