<config>
    <modules>
        <Inchoo_MaxOrderAmount>
            <version>1.0.0.0</version>
        </Inchoo_MaxOrderAmount>
    </modules>
    <default>
        <sales>
            <inchoo_maxorderamount>
                <active>0</active>
                <single_order_top_amount>15001500</single_order_top_amount>
                <single_order_top_amount_msg>
                <![CDATA[No single order allowed with amount over %s.]]></single_order_top_amount_msg>
            </inchoo_maxorderamount>
        </sales>
    </default>
    <global>
        <models>
            <inchoo_maxorderamount>
                <class>Inchoo_MaxOrderAmount_Model</class>
            </inchoo_maxorderamount>
        </models>
        <helpers>
            <inchoo_maxorderamount>
                <class>Inchoo_MaxOrderAmount_Helper</class>
            </inchoo_maxorderamount>
        </helpers>
    </global>
    <frontend>
        <events>
            <sales_quote_save_before>
                <observers>
                    <foggyline_maxorderamount_enforceSingleOrderLimit>
                        <class>foggyline_maxorderamount/observer</class>
                        <method>enforceSingleOrderLimit</method>
                    </foggyline_maxorderamount_enforceSingleOrderLimit>
                </observers>
            </sales_quote_save_before>
        </events>
    </frontend>

</config>
